<ion-header>
  <ion-toolbar>
    <ion-title>
      Find my train spot!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>
</ion-content>

<ion-content>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
        <ion-list>
          <ion-item *ngFor="let item of items">
              {{ item }}
          </ion-item>
        </ion-list>
</ion-content>
